.App.light {
	transition: all 0.3s ease;

	h1,
	h2,
	h3,
	h4,
	h5,
	p {
		color: $dark-100;
		transition: 0.3s ease;
	}
	
	.text-color {
		color: $dark-100;
	}

	.bg-primary {
		background-color: $light-100;
		transition: 0.3s ease;

		&.rgba {
			background-color: $light-100A7;
		}
	}

	.bg-secondary {
		background-color: $light-200;
		transition: 0.3s ease;

		&.rgba {
			background-color: $light-200A7;
		}
	}

	.neuromorphism-100 {
		background: #ffffff;
		box-shadow: 7px 7px 14px #d9d9d9, -7px -7px 14px #ffffff;
	}

	.icon {
		color: $dark-100;
		transition: 0.3s ease;
	}
}

.App.dark {
	h1,
	h2,
	h3,
	h4,
	h5,
	p {
		color: $light-100;
		transition: 0.3s ease;
	}

	.text-color {
		color: $light-100;
	}

	.bg-primary {
		background-color: $dark-100;
		transition: 0.3s ease;

		.rgba {
			background-color: $dark-100A7;
		}
	}

	.bg-secondary {
		background-color: $dark-200;
		transition: 0.3s ease;

		&.rgba {
			background-color: $dark-200A7;
		}
	}

	.neuromorphism-100 {
		background: #272727;
		box-shadow: 7px 7px 14px #1d1d1d, -7px -7px 14px #313131;
	}

	

	.icon {
		color: $light-100;
		transition: 0.3s ease;
	}
}
