// Fonts
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

// Breakpoints
@import './breakpoints.scss';

// Base
@import 'base/colors.scss';

// Themes
@import 'themes/themes.scss';

// Layouts
@import 'layouts/navbar.scss';
@import 'layouts/bottomBar.scss';
@import 'layouts/settings.scss';

// Pages
@import 'pages/profile.scss';
@import 'pages/workout.scss';
@import 'pages/authPage.scss';
@import 'pages/weighIn.scss';

// Components
@import 'components/notification.scss';
@import 'components/routinesModal.scss';
@import 'components/chart.scss';
@import 'components/weightInModal.scss';

.App {
	font-family: 'Oswald', sans-serif;
	position: relative;

	.main.bg-primary {
		width: 100%;
		height: auto;
		min-height: 100dvh;
	}
}

.page {
	width: 100%;
	min-height: calc(100dvh - $navBarHeight - $bottomBarHeight);
	position: relative;
	top: $navBarHeight;
	left: 0;
	padding: 0.5rem 1rem;
    opacity: 0;
    animation: pageFadeIn 0.3s forwards;
}

.pageTitle {
	color: $accent !important;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
	letter-spacing: 0.025em;
	text-align: left;
	padding: 0 0.5rem;
	border-radius: 30px;
    width: 100%;
}

button {
	background-color: $accent;
	color: $light-100;
	padding: 0.25rem 1rem;
	border-radius: 20px;
	border: 0;
	outline: none;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
	cursor: pointer;
	transition: 0.3s ease;

	&:hover {
		transform: scale(0.9);
	}

	&.btn-red {
		background-color: $errorRed;
	}
}

@keyframes pageFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
