// Fonts
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

// Breakpoints
@import './breakpoints.scss';

// Base 
@import 'base/colors.scss';

// Themes
@import 'themes/themes.scss';

// Layouts
@import 'layouts/navbar.scss';
@import 'layouts/bottomBar.scss';
@import 'layouts/settings.scss';



.App {
    font-family: 'Oswald', sans-serif;
    position: relative;

    .main.bg-primary {
        width: 100%;
        height: auto;
        min-height: 100dvh;
    }
}