$light-100: #f7f7f7;
$light-100A7: rgba(247, 247, 247, 0.9);

$light-200: #e4e4e4;
$light-200A7: rgba(228, 228, 228, 0.9);

$dark-100: #272727;
$dark-100A7: rgba(39, 39, 39, 0.9);

$dark-200: #3d3d3d;
$dark-200A7: rgba(61, 61, 61, 0.9);

$accent: #0ADC99;
$errorRed: #FF4A4A;
// #57F3C2
